body{
    padding: 0px;
    margin: 0px;
    color: white;
    background-color: black;
    /* background-color: black; */
}
.btn{
    color: blue;
    background-color: white;
    line-height: 4;
    padding-left: 15px;
    padding-right: 15px;
    border-color: brown;
    border-radius: 10px;
    margin-bottom: 10px;
}
.heading{
    background-color:pink;
    border: 5px solid rgb(103, 142, 149);
}
p{
    text-align:center ;
}